@import "tailwindcss";

@font-face {
  font-family: "cream"; /* Choose a name for your font */
  src: url("./fonts/cream-cake.regular.otf") format("truetype"); /* Adjust path and format */
  font-weight: normal;
  font-style: normal;
}
